
1.11.2/AdvancedMacros/
1.11.2/AutoCrafter/
1.11.2/AutoCrafterManualTest.jar
1.12/AutoCrafter-1.12/
dl4j-examples/
forge-1.11.2-13.20.0.2294-mdk.zip
*.zip
jna/
Projects/game/
Projects/CurrencyTrader/
Projects/NeuralNetwork/
